<template>
        <div class="mx-auto w-64 text-right">
            <div v-if="isLogged" @keydown.escape="open = false" class="relative inline-block text-left">
                <div>
                    <button @click="open = !open" type="button" class="justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="options-menu" aria-haspopup="true" aria-expanded="true" x-bind:aria-expanded="open">
                        User
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>

                <transition enter-active-class="transition ease-out duration-100" enter-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95"><div v-if="open" x-description="Dropdown panel, show/hide based on dropdown state." class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100">
                    <div class="px-4 py-3">
                        <p class="text-sm">
                            Signed in as
                        </p>
                        <p class="text-sm font-medium text-gray-900 truncate">
                            {{user.email}}
                        </p>
                    </div>
                    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Account settings</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Support</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">License</a>
                    </div>
                    <div class="py-1">
                        <form method="POST" action="/logout">
                            <input type="hidden" name="_token" :value="csrf">
                            <button type="submit" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">
                                Sign out
                            </button>
                        </form>
                    </div>
                </div></transition>
            </div>
            <div v-else class="relative inline-block text-left">
                <a href="/login"  type="button" class="justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500">
                    Login
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
            required: false
        }
    },
    data: () => ({
        open: false,
        csrf: document.head.querySelector('meta[name="csrf-token"]').content
    }),
    computed: {
        isLogged() {
            return !!Object.keys(this.user).length
        }
    }
}
</script>
